$YE : #FFB62D;
$PU : #5A1DBD;
$PU-1 : #876CB1;
$BK : #595460;
$GR-1 : #AFAAB6;
$GR-2 : #CECDCC;
$GR-3 : #E8E8E8;

$WH-T : rgba(255, 255, 255, 0.8);

@mixin flexCenter {
    display: flex;
    align-items: center;
}

@mixin shadow { box-shadow: 0px 6px 6px 10px rgba(0, 0, 0, 0.15); }