@import '../../styles/var.scss';

.webcam-container {
    position: absolute;
    top: $navbar-height; right: 0;
    transition: 0.3s;

    .show-webcam-toggle {
        width: 34px;
        height: 88px;
        position: absolute;
        left: 0; top: 20px;
        z-index: 10;
        background: $WH-T;
        backdrop-filter: blur(15px);
        border-radius: 0px 20px 20px 0px;
        cursor: pointer;
        transition: 0.4s;
        transform-origin: left;
        @include flexCenter;
        @include lightShadow;

        svg {
            width: 19px;
            height: 19px;
            margin-left: 5px;
            transform: rotate(-90deg);
            fill: $BK;
        }
    }

    &#hide {
        right: -200px;

        .show-webcam-toggle {
            // transform: scaleX(-1);
            transform: rotateY(-180deg);
        }
    }
}