@import '../../styles/var.scss';

.music-selector {
    width: 235px;
    transition: 0.3s;

    .show-selected-music {
        display: flex;
        align-items: center;

        svg { 
            font-size: 24px;
            // width: 20px; 
            // height: 20px; 
            flex-shrink: 0;
            // color: white;
            path { fill: white; }
        }

        .selected-music-name {
            font-size: 20px;
            font-weight: 600;
            flex-grow: 1;
            margin-left: 15px;
            margin-right: 5px;
            text-align: left;
            @include overFlowText(1);
            color: $BK;
        }
    }

    .music-container {
        width: 100%;
        max-height: 0;
        overflow: scroll;
        // margin-top: 10px;
        transition: 0.5s;

        .music-wrapper {
            width: 100%;
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .music-elem {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 20px;
                background: $WH-T;
                border: 2px solid white;
                transition: 0.2s;
                @include lightShadow;
                @include hoverDown(-3px);

                &#selected {
                    background: $PU-1;
                    // background: $BK;
                    
                    // background: rgb(49, 48, 49);

                    .music-name { color: white; }
                    .music-composer { color: $GR-2; }
                }

                .music-info {
                    flex-shrink: 0;

                    .music-name { display: none; }
                    .play, .pause { margin-top: 0; }
                }
                
                .music-info-wrapper {
                    flex-grow: 1;
                    margin-left: 10px;
                    text-align: left;

                    .music-name {
                        font-size: 17px;
                        font-weight: 600;
                        margin-bottom: 5px;
                        transition: 0.3s;
                        @include overFlowText(1);
                    }

                    .music-composer {
                        font-size: 12px;
                        color: $BK;
                        transition: 0.3s;
                        @include overFlowText(1);
                    }
                }
            }
        }
    }
    
    &:focus {
        .music-container {
            margin-top: 10px;
            max-height: calc(100vh - 100px);
        }
    }
}