@import '../../styles/var.scss';

.modal-wrapper.login {
    width: 855px;
    height: 544px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    @include flexColumnCenter;
    justify-content: center;
    overflow: hidden;
    animation: showModal 0.7s;

    img {
        position: absolute;
        left: 0; top: 0;
        pointer-events: none;
    }

    span {
        font-weight: 300;
        font-size: 18px;
        color: $GR-1;
        margin-top: 13px;
        margin-bottom: 35px;
    }

    .login-button {
        width: 277px; height: 55px;
        padding: 18px 30px;
        padding-left: 50px;
        box-shadow: 0px 6px 15px rgba(175, 170, 182, 0.15);
        border-radius: 30px;
        font-weight: 400;
        font-size: 15px;
        transition: 0.2s;
        margin-bottom: 15px;
        // justify-content: space-between;
        // @include flexCenter;
        text-align: center;
        @include hoverDown();
        position: relative;

        svg {
            width: 20px; height: 20px;
            position: absolute;
            left: 30px;
        }
    }
}