@keyframes showLarger {
    100% { transform: scale(1.1); }
}

@keyframes showModal {
    70% { transform: scale(1.03) translateY(10px); }
}

@keyframes showModalUp {
    0% { transform: translateY(100%); }
    70% { transform: translateY(-10px) scaleY(1.03); }
}

@keyframes showModalRight {
    0% { transform: translateX(-100%); }
    70% { transform: translateX(10px) scaleX(1.03); } 
}

@keyframes showModalOpacity {
    0% { opacity: 0; }
}